/* .card {
border-radius: 10px;
}

.card-header {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.product-img {
max-height: 100px;
object-fit: cover;
border-radius: 5px;
}

.badge {
font-size: 14px;
}

.btn-lg {
font-size: 18px;
padding: 10px 20px;
} */
